.section-carousel-slide {
  min-height: 100vh;
  margin: 6em 0em;
  font-family: "Baskervville", serif;
}

.section-carousel-slide .caraousel-slide-header {
  padding: 1em 1em 5em 1em;
}

.header-carousel {
  font-size: 2.5rem;
  font-style: italic;
}

.carousel {
  margin: 5em 0em;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #4a4848;
  opacity: 0.5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  margin: 0 3em;
  top: 55%;
  transform: translateY(-55%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  border: none;
}

@media (max-width: 920px) {
  .image-caraousel-container {
    flex-wrap: wrap;
  }
}
