/* Baskervville */
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

@import "navbar.css";
@import "aboutus.css";
@import "caraousel.css";
@import "location.css";
@import "order.css";
@import "pricelist.css";
@import "benefit.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Baskervville', serif; */
}

.section-promo {
  background-color: #f8f2dc;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-promo .promo-content {
  padding: 1em;
  text-align: center;
}

.promo-content h1 {
  font-family: "Baskervville", serif;
  font-size: 1.2rem;
  font-weight: 600;
}
