.navbar {
  background-color: #fff;
  padding: 0em 2em;
  font-family: "Raleway", sans-serif;
}
.navbar .navbar-nav .nav-item a {
  color: #000;
}

.nav-item span {
  color: #796c4a;
}

.nav-item a {
  font-size: 1.1rem;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #8c4412;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
}
